@import '../../common/style.scss';
@import '../../common/common.scss';

.mypage {
  @extend .news;

  .mypage_contents {
    @extend .article_list;

    .subscribe {
      @extend .articles;
      align-items: center;

      form {
        width: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        input {
          width: 100%;
          background-color: white;
          padding: 12px 26px;
          border-radius: 50px;
        }

        .search_mypage_icon {
          position: absolute;
          font-size: 1.5rem;
          cursor: pointer;
          right: 1.75rem;
          transition: 300ms ease;

          &:active {
            transform: scale(0.8);
          }

          path {
            color: $choralColor;
          }
        }
      } // subscribe > form

      ul {
        width: 100%;
        margin-top: 2rem;

        li {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          background-color: white;
          border-radius: 10px;
          padding: 8px 1rem;
          margin: 3px 0;

          span {
            cursor: pointer;
          }

          button {
            visibility: hidden;
            background-color: $redColor;
            color: white;
            font-weight: bold;
            padding: 8px 14px;
            border-radius: 10px;
          }

          &:hover {
            button {
              visibility: visible;
              animation: fade-in 2s ease forwards;
            }
          }
        }
      }
    }
  }
}
