@import '../../common/style.scss';

.landing {
  display: flex;
  flex-direction: column;

  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      to right,
      rgb(252, 92, 125),
      rgb(106, 130, 251)
    );
    padding: 2rem 0;

    h1 {
      color: white;
    }

    .search_main {
      padding-top: 1rem;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      width: 600px;

      input {
        width: 100%;
        background-color: white;
        padding: 15px 30px;
        border-radius: 50px;
      }

      .search_main_icon {
        position: absolute;
        font-size: 2rem;
        cursor: pointer;
        right: 1.75rem;
        transition: 300ms ease;

        &:active {
          transform: scale(0.8);
        }
      }
      .search_main_icon path {
        color: $choralColor;
      }
    }

    ul {
      padding-top: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      li {
        color: white;
        padding: 5px 0;
      }
    }
  }

  .news {
    display: flex;
    justify-content: center;
    padding-top: 5rem;

    .news_category {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-right: 3.5rem;

      .category {
        width: 160px;
        font-size: 20px;
        font-weight: bold;
        padding: 6px 8px;
        color: $categoryTextColor;
        cursor: pointer;
      }

      .category.active {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        background-color: $violetColor;
        border-radius: 10px;
        .category_icon path {
          color: white;
        }
      }
    }

    .article_list {
      display: flex;
      flex-direction: column;
      flex: 2;
      color: $categoryTextColor;

      .category_title {
        display: flex;
        align-items: center;

        div {
          font-weight: bold;
          font-size: 30px;
          padding-right: 10px;
        }

        .article_list_guide {
          font-size: 28px;
          cursor: pointer;

          path {
            color: $lightGray;
          }
        }
      }

      .pop_confirm {
        position: relative;
        width: 280px;
        height: 40px;
        left: -45px;
        bottom: 60px;
        background: $lilacColor;
        font-size: 12px;
        color: $categoryTextColor;
        border-radius: 5px;
        padding: 12px 12.8px;
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
        transition: 500ms ease;
      }

      .pop_confirm:after {
        border-top: 10px solid $lilacColor;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 0px solid transparent;
        content: '';
        position: absolute;
        top: 40px;
        left: 20px;
      }

      .pop_confirm.clamp {
        // display: none;
        visibility: hidden;
        animation: fadeIn 0.8s;
      }

      @keyframes fadeIn {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
      }
    }
  }
}
