@import '../../common/style.scss';

.header {
  position: relative;
  // border: 3px solid red;
  height: 80px;
  z-index: 15;
  display: flex;
  padding: 1rem 3.5rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(
    to right,
    rgb(252, 92, 125),
    rgb(106, 130, 251)
  );
  border-image-slice: 1;
  background-color: white;

  .logo {
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
  }

  .right_menu {
    display: flex;

    ul {
      display: flex;
      align-items: center;
      li {
        font-weight: bold;
        font-size: 14px;
        padding: 8px 12px;
        cursor: pointer;
        transition: 300ms ease;

        .header_icon {
          position: relative;
          bottom: 0;
          font-size: 20px;

          path {
            color: $violetColor;
          }
        }

        .heaer_icon_spot {
          position: relative;
          top: 4px;
          right: -10px;
          width: 8px;
          height: 8px;
          background-color: $choralColor;
          border-radius: 50%;
          z-index: 5;
        }

        &:hover {
          color: $choralColor;
        }
      }
    }
  }
}
