@import '../../common/style.scss';

//background: linear-gradient(to right, rgb(252, 92, 125), rgb(106, 130, 251));

.header {
  display: flex;
  padding: 1rem 3.5rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(
    to right,
    rgb(252, 92, 125),
    rgb(106, 130, 251)
  );
  border-image-slice: 1;

  .logo {
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
  }

  ul {
    display: flex;
    li {
      font-weight: bold;
      font-size: 14px;
      padding: 8px 12px;
      cursor: pointer;
      transition: 300ms ease;

      &:hover {
        color: $choralColor;
      }
    }
  }
}
