@import '../../common/common.scss';

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    border: 3px solid transparent;
    border-radius: 10px;
    background-image: linear-gradient(#fff, #fff),
      linear-gradient(to right, rgb(252, 92, 125), rgb(106, 130, 251));
    background-origin: border-box;
    background-clip: content-box, border-box;

    span {
      font-weight: bold;
      font-size: 25px;
      color: $mainTextColor;
      padding: 1.5rem 0;
    }

    input {
      background-color: $lilacColor;
      padding: 10px 14px;
      width: 80%;
      border-radius: 10px;
      margin-bottom: 1rem;
      font-size: 12px;
      font-weight: bold;
    }

    button {
      background-color: $violetColor;
      border-radius: 10px;
      color: white;
      font-weight: bold;
      width: 80%;
      padding: 12px 14px;
      text-align: center;
      margin: 10px 0;

      &:hover {
        background-color: $choralColor;
        transition: 500ms ease;
      }
    }
  }
}
